html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    padding-left: 20px;
    background-color: var(--jasny-czarny-1);
    color: var(--bialy);
    font-family: var(--czcionka-dm_sans);
    font-size: var(--fontSize-body-4);
    font-weight: var(--weight-regular);
    line-height: var(--lineHeight-5);
    overflow: visible;
    overflow-x: hidden;
}

/* SCROLLBAR */

::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background-color: transparent; }
::-webkit-scrollbar-thumb { background-color: var(--bezowy); }

.form-button .button {
    position: relative;
    color: var(--bezowy);
    font-size: var(--fontSize-label-2);
    font-weight: var(--weight-bold);
    text-transform: uppercase;
    letter-spacing: var(--letterSpacing-5);
    max-width: max-content;
    border: 2px solid var(--bezowy);
    padding: 12px 45px;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
}

.form-button .button:hover {
    background-color: var(--bezowy);
    color: var(--jasny-czarny-1);
    animation: animatedSubmit 0.4s linear;
}

@keyframes animatedSubmit {
    from {
        background-color: var(--jasny-czarny-1);
    } to {
        background-color: var(--bezowy);
    }
}

.form-group {
    margin-bottom: 10px;
    margin-top: 5px;
}

.form-group input {
    padding-left: 10px;
}

.form-group input {
    color: var(--bialy);
    background-color: var(--bialy-alpha-10);
}

.form-group textarea {
    padding-left: 10px;
}

.form-group textarea {
    color: var(--bialy);
    background-color: var(--bialy-alpha-10);
}

table {
    width: 1000px;
    border-collapse: collapse;
    margin-bottom: 20px;
    color: var(--bezowy);
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: var(--bialy-alpha-10);
}

.button-wyloguj {
    position: fixed;
    top: 20px;
    right: 20px;
}

.button-zarejestruj {
    position: fixed;
    top: 100px;
    right: 20px;
}


p {
    margin-bottom: 5px;
    margin-top: 5px;
}

.button-usun {
    color: var(--bezowy);
}

.button-usun:hover {
    color: hsl(68, 11%, 40%);
}

:root {
    /* KOLORKI */
    --bezowy: hsl(70, 40%, 80%);
    --srebrny: hsla(0, 0%, 65%, 1);
    --davys-grey: hsla(30, 3%, 34%, 1);
    --dymny-czarny-1: hsla(40, 12%, 5%, 1);
    --dymny-czarny-2: hsla(30, 8%, 5%, 1);
    --dymny-czarny-3: hsla(0, 3%, 7%, 1);
    --jasny-czarny-1: hsla(210, 4%, 9%, 1);
    --jasny-czarny-2: hsla(210, 4%, 11%, 1);
    --jasny-czarny-3: hsla(180, 2%, 8%, 1);
    --jasny-czarny-4: hsla(0, 0%, 13%, 1);
    --bialy: hsla(0, 0%, 100%, 1);
    --bialy-alpha-20: hsla(0, 0%, 100%, 0.2);
    --bialy-alpha-10: hsla(0, 0%, 100%, 0.1);
    --czarny: hsla(0, 0%, 0%, 1);
    --czarny-alpha-80: hsla(0, 0%, 0%, 0.8);
    --czarny-alpha-15: hsla(0, 0%, 0%, 0.15);

    /* GRADIENTY */
    --loading-text-gradient: linear-gradient(90deg, transparent 0% 16.66%, var(--bialy) 33.33% 50%,  transparent 66.66% 75%);
    --gradient-1: linear-gradient(to top,hsla(0, 0%, 0%, 0.9),hsla(0, 0%, 0%, 0.7),transparent);

    /* CZCIONKA */
    --czcionka-forum: 'Forum', cursive;
    --czcionka-dm_sans: 'DM Sans', sans-serif;

    /* TYPOGRAFIA */
    --fontSize-display-1: calc(1.3rem + 6.7vw);
    --fontSize-headline-1: calc(2rem + 2.5vw);
    --fontSize-headline-2: calc(1.3rem + 2.4vw);
    --fontSize-title-1: calc(1.6rem + 1.2vw);
    --fontSize-title-2: 2.2rem;
    --fontSize-title-3: 2.1rem;
    --fontSize-title-4: calc(1.6rem + 1.2vw);
    --fontSize-body-1: 2.4rem;
    --fontSize-body-2: 1.6rem;
    --fontSize-body-3: 1.8rem;
    --fontSize-body-4: 1.6rem;
    --fontSize-label-1: 1.5rem;
    --fontSize-label-2: 1.3rem;

    /* WEIGHT */
    --weight-regular: 400;
    --weight-bold: 700;

    /* ROZMIAR WIERSZA */
    --lineHeight-1: 1em;
    --lineHeight-2: 1.2em;
    --lineHeight-3: 1.5em;
    --lineHeight-4: 1.6em;
    --lineHeight-5: 1.85em;
    --lineHeight-6: 1.4em;

    /* SPACING LITER */
    --letterSpacing-1: 0.15em;
    --letterSpacing-2: 0.4em;
    --letterSpacing-3: 0.2em;
    --letterSpacing-4: 0.3em;
    --letterSpacing-5: 3px;

    /* SPACING */
    --section-space: 70px;

    /* CIENIE */
    --shadow-1: 0px 0px 25px 0px hsla(0, 0%, 0%, 0.25);

    /* BORDER RADIUS */
    --radius-24: 24px;
    --radius-circle: 50%;

    /* TRANSITIONS */
    --transition-1: 250ms ease;
    --transition-2: 500ms ease;
    --transition-3: 1000ms ease;
}

.idPotrawy,
.nazwaPotrawy,
.cenaPotrawy { display: block; }

input,
button,
select,
textarea {
  background: none;
  border: none;
  font: inherit;
}

button { cursor: pointer; }